.edit-message-modal{
    font-family: "Arial Rounded MT Bold", sans-serif;
    display: none;
}

.modal-shown{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
    background-color: white;
    border: #222222 1px solid;
    z-index: 2;
}

.edit-header{
    text-align: center;
    font-size: 24px;
    padding: 10px;
}

.edit-message-input{
    resize: none;
    font-size: 20px;
    height: 85%;
}

.edit-button-holder{
    display: flex;
    justify-content: flex-end;
}

.edit-message-button{
    font-size: 24px;
    color: aliceblue;
    background-color: #03e3fc;
    margin: 5px;
}

.edit-message-close{
    font-size: 24px;
    color: aliceblue;
    background-color: #888888;
    margin: 5px;
}